<div style="height: 150px; width: 150px">
  <img src="{{project.thumbnailUrl}}" height="100px" width="100px" /><br>
  <span class="text-center">{{project.title}}</span><br>
  {{#link-to 'projects.edit' project.id}}Edit{{/link-to}}
</div>