<div>
  {{#link-to 'projects.view' project.id}}
	  <img src="{{project.thumbnailUrl}}" class="icon" alt="{{project.title}}" />
   {{/link-to}}
  {{#link-to 'projects.view' project.id class="title"}}{{project.title}}{{/link-to}}
</div>
<div class="options">
  <span>{{#link-to 'projects.edit' project.id}}Edit{{/link-to}}</span>  
  <span>{{!#link-to}}Delete{{!/link-to}}</span>
</div> 