html {
    height: 100%;
    width: 100%;
}
body {
    font-family: arial, serif, monospace;
    position: relative;
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.center {
    text-align: center;
    align-content: center;
}

#main {
    padding-top: 10%;
}

.right {
    text-align: right;
}

ul li {
    display: inline;
    list-style-type: none;
    text-decoration: none;
    margin-left: .5em;
    margin-right: .5em;
}

#footer {
    background-color: #fff;
    bottom: 0;
    height: 75px;
    width: 100%;
    position: absolute;
    #footer-text {
        padding-right: 1%;
    }
}