body {
  font-family: arial, serif, monospace;
  position: relative;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.nav {
  display: inline-block;
 ul li {
   list-style-type: none;
 }
}

#footer {
  background-color: #fff;
  bottom: 0;
  height: 100px;
  width: 100%;
  position: absolute;
}