body {
  font-family: arial, serif, monospace;
  position: relative;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

#navbar-container {
  position: fixed;
  top: 0;
}

#projects {
  display: inline;
}

#footer {
  background-color: #fff;
  bottom: 0;
  height: 100px;
  width: 100%;
  position: absolute;
}