<h3>Projects</h3>

{{#each model as |project|}}
  {{#link-to 'projects.view' project.id}}
    {{#project-icon project=project}}{{/project-icon}}
  {{/link-to}}
{{/each}}
{{#link-to 'projects.new' class="button"}}New{{/link-to}}