<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title | escape }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github %}
          <li>
            {% include icon-github.html username=site.github %}
          </li>
          {% endif %}

          {% if site.twitter %}
          <li>
            {% include icon-twitter.html username=site.twitter %}
          </li>
          {% endif %}
          
          {% if site.linkedin %}
          <li>
            {% include icon-linkedin.html username=site.linkedin %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ escape }}</p>
      </div>
    </div>

  </div>

</footer>
