$avatar-size:300px;

$project-block-size:200px;
$project-logo:150px;
$project-padding:10px;

$tag-color:#ffe4e1;
$tag-padding:3px;

$project-header-font: $base-font-size * 1.25;
$project-header-weight: 500;
$project-line-height: $base-font-size * 0.5;

$project-small-font: $base-font-size * 0.75;
// $project-small-font: $

.site-avatar {
	height:$avatar-size;
	width:$avatar-size;
	border-radius:50%;
	object-fit:cover;
}
.text-center {
	text-align:center;
}
.center {
	margin:0 auto;
}
.left {
	float:left;
}
.right {
	float:right;
}
.project-block {
	display:inline-table;
	height:$project-block-size;
	padding:$project-padding;
	.project-logo {
		height:$project-logo;
		width:$project-logo;
	}
	a.project-link {
		display:block;
		width:$project-logo;
		text-align:center;
	}
}

.project-summary {
	line-height: $project-line-height;

}

.project-header {
	font-size: $project-header-font;
	line-weight: $project-header-weight;
	color: $grey-color;
}

.project-meta {
    font-size: $small-font-size;
    // color: $grey-color;
}

.project-description {
	font-size: $small-font-size;
	color: $grey-color;
}

.project-tags {
	a.tag {
		background-color:$tag-color;
		padding:$tag-padding;
	}
}