ABOUT
<!-- <div class="jumbo"> -->
  <!-- <div class="right tomster"></div> -->
  <!-- <h2>Addy Kim</h2> -->
	I'm a senior studying Computer Science at the University of Texas 	at Austin.<br>
	I enjoy practicing wushu and crafting in my spare time.
<!-- </div> -->

