<div class="center">
  <h1 class="header">{{#link-to 'index' class="button"}}Addy Kim{{/link-to}}</h1>
  <div class="nav text-center">
    {{#link-to 'index' class="button"}}About{{/link-to}} | 
    {{#link-to 'projects' class="button"}}Projects{{/link-to}}
    <br>
    <a href="mailto:as.kim@utexas.edu"><i class="fa fa-envelope fa-x" alt="Mail"></i></a> | <a href="//www.github.com/addykim"><i class="fa fa-github fa-x" alt="Github"></i></a> | 
    <a href="//www.linkedin.com/in/addykim"><i class="fa fa-linkedin fa-x" alt="LinkedIn"></i></a>
    {{!-- Resume --}}
    {{!-- <li><a href=""><i class="fa fa-file-text-o"></i></a></li> --}}
  </div>
  {{outlet}}
  
  <div class="footer">
    <span>© 2016 Addy Kim. All Rights Reserved.</span>
  </div>
</div>        
