<div>
	<img id="profile-image" src="https://media.licdn.com/mpr/mpr/shrink_200_200/AAEAAQAAAAAAAAViAAAAJDE2MWU1ZDk4LTgxMTctNDFkMC1hODA5LWI2MTFlYTlkNjNjZA.jpg" class="center" />
	<p>I'm a senior studying Computer Science at the UT Austin. I enjoy practicing wushu and crafting in my spare time.
	</p>
</div>

