<div>
<!-- <div class="jumbo"> -->
  <!-- <div class="right tomster"></div> -->
  <!-- <h2>Addy Kim</h2> -->
	<p>I'm a senior studying Computer Science at the UT Austin.<br>
	I enjoy practicing wushu and crafting in my spare time.
	</p>

  <!-- <a href="">RESUME HERE</a> -->
</div>

